.about-container {
  /* color: #ccf381; */
  color: black;
  /* background-color: #4831d4; */
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-header {
  color: #ee4e34;
}

.about-svg {
  background-color: #eae7dc;
}
