.about-container {
  /* color: #ccf381; */
  color: black;
  /* background-color: #4831d4; */
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: RELATIVE;
}

.about-header-container {
  position: relative;
}

.about-main-header {
  color: #ee4e34;
  font-weight: 700;
  text-transform: uppercase;
}

.about-header {
  color: #092c6a;
}

.about-svg {
  background-color: #accdc6;
}

.about-img {
  position: absolute;
  top: 6%;
  left: -5%;
  /* display: inline-block; */
  width: 30%;
  max-width: 200px;
  height: auto;
  transform: rotate(30deg) scaleX(-1);
}

.about-img2 {
  position: absolute;
  top: 4%;
  right: -5%;
  /* display: inline-block; */
  width: 25%;
  max-width: 200px;
  height: auto;
  transform: rotate(320deg) scaleX(-1);
}

.about-header-text {
  font-size: 1em;
  color: #7272ff;
  font-weight: 650;
  padding: 0 30px;
}

.about-text {
  font-size: 0.8em;
  padding: 0 30px;
}

button {
  width: 40%;
  margin: 15px auto;
}
