.hamburger-button {
  position: absolute;
  top: 18%;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger-div-style1 {
  width: 2rem;
  height: 0.25rem;
  background: grey;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.hamburger-div-style2 {
  width: 2rem;
  height: 0.25rem;
  background: grey;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.hamburger-button:hover .hamburger-div-style2 {
  background: #eae7dc;
}

.hamburger-div-style2:first-child {
  transform: rotate(45deg);
}

.hamburger-div-style2:nth-child(2) {
  opacity: 0;
  transform: translate(0);
}

.hamburger-div-style2:nth-child(3) {
  transform: rotate(-45deg);
}
