.intro-main-container {
  background-color: #eae7dc;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.intro-container {
  color: black;
  background-color: #eae7dc;
  height: 50vh;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-container2 {
  color: black;
  background-color: #eae7dc;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-img {
  align-self: center;
  padding-bottom: 120px;
}

.intro-header {
  color: #ee4e34;
  margin: 10px;
}

.see-projects {
  width: 55%;
  padding: 10px 4em;
  background-color: #ee4e34;
  border-radius: 5px;
  box-shadow: rgba(177, 126, 126, 0.24) 0px 3px 8px;
  font-size: 0.9em;
  transition: transform 1s;
}

.see-projects:hover {
  cursor: pointer;
  transform: translate(0, -8px);
}

.intro-content {
  font-size: 0.8em;
  padding: 0.6em 2em 1.2em 2em;
}

/* For responsive sizing */
/* Mobile */
.intro-container {
  padding: 0 1em;
}

/* Tablet */
@media (min-width: 600px) {
  .intro-container {
    height: 50vh;
  }

  .intro-container2 {
    height: 50vh;
    width: 100%;
  }

  .intro-img {
    padding-bottom: 20px;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .intro-main-container {
    flex-direction: row;
  }

  .intro-container {
    padding: 0 5em;
    height: 100vh;
  }

  .intro-container2 {
    height: 100vh;
    width: 50%;
  }

  .intro-content {
    font-size: 0.8em;
    padding: 0.6em 0 1.2em 0;
  }
}
