.style1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f5745f;
  height: 60vh;
  text-align: left;
  padding: 2rem;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  transform: translateX(110%);
  z-index: 2;
}

.style2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f5745f;
  height: 60vh;
  text-align: left;
  padding: 2rem;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.hashlink {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: bold;
  letter-spacing: 0.5rem;
  color: black;
  text-decoration: none;
  transform: translateY(0%);
  opacity: 0;
  /* transition for the hover on menu is not working :( */
  transition: color 1s linear;
}

.hashlink:hover {
  color: #eae7dc;
}

.hashlinkstyle2a {
  transform: translateY(8%);
  opacity: 1;
  transition: transform 0.6s ease-out, opacity 1.2s ease-out;
}

.hashlinkstyle2b {
  transform: translateY(8%);
  opacity: 1;
  transition: transform 0.9s ease-out 0.2s, opacity 1.2s ease-out 0.2s;
}

.hashlinkstyle2c {
  transform: translateY(8%);
  opacity: 1;
  transition: transform 0.9s ease-out 0.4s, opacity 1.2s ease-out 0.4s;
}

.hashlinkstyle2d {
  transform: translateY(8%);
  opacity: 1;
  transition: transform 0.9s ease-out 0.6s, opacity 1.2s ease-out 0.6s;
}

.hashlinkstyle2e {
  transform: translateY(8%);
  opacity: 1;
  transition: transform 0.9s ease-out 0.8s, opacity 1.2s ease-out 0.8s;
}

.hashlinkstyle1a {
  opacity: 0;
}

.hashlinkstyle1b {
  opacity: 0;
}

.hashlinkstyle1c {
  opacity: 0;
}

.hashlinkstyle1d {
  opacity: 0;
}

.hashlinkstyle1e {
  opacity: 0;
}
