.link-container {
  padding: 1.4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  font-size: 0.8em;
}

.name {
  color: #ee4e34;
  font-weight: 500;
}

.link {
  color: black;
  text-decoration: none;
  margin: 2em;
  margin-top: 2em;
}

.link:visited {
  color: black;
}

.link:active {
  color: purple;
}

.link:hover {
  color: #ee4e34;
}

.hamburger-button {
  position: absolute;
  top: 30%;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger-div {
  width: 2rem;
  height: 0.25rem;
  background: grey;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}
