body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.projects-container {
  color: black;
  background-color: #eae7dc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-header {
  color: #ee4e34;
}

svg {
  background-color: white;
}
