body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.skills-container {
  color: black;
  background-color: #accdc6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.skills-header {
  color: #ee4e34;
}

svg {
  background-color: #eae7dc;
}

.skills-img {
  position: absolute;
  bottom: 0%;
  right: -5%;
  /* display: inline-block; */
  width: 25%;
  max-width: 150px;
  height: auto;
  transform: rotate(320deg) scaleX(-1);
}

.skills-img2 {
  position: absolute;
  top: -6%;
  left: 2%;
  /* display: inline-block; */
  width: 25%;
  max-width: 150px;
  height: auto;
  transform: rotate(45deg) scaleX(-1);
}

.skills-main-header {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

i {
  font-size: 3em;
}

/* change the color of the icons */
.icons {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px 0;
  width: 85%;
  max-width: 900px;
}

/* this allows 4 items per row */
.icons-child {
  flex: 1 0 21%;
  padding-bottom: 20px;
}

.icon-name {
  font-size: 0.65em;
  color: black;
}
