body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.skills-container {
  color: black;
  background-color: #accdc6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.skills-header {
  color: #ee4e34;
}

svg {
  background-color: #eae7dc;
}

.skills-img {
  position: absolute;
  bottom: -3%;
  right: -5%;
  /* display: inline-block; */
  width: 25%;
  max-width: 250px;
  height: auto;
  transform: rotate(320deg) scaleX(-1);
}

.skills-main-header {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
